<div>
	<h1>New Badge</h1>
	<div class="badge-box">
		<b>Badge Name:</b>
		<input id="badgeName" class="medium" type="text">
	</div>
	<div class="badge-box">
		<b>Description:</b>
		<textarea id="badgeDescription" class="medium"></textarea>
	</div>
	<div onclick="saveBadge()">Save</div>
</div>