.blanks-page-wrapper {
	margin-left: 15px;
	margin-top: 105px;
}

.blanks-block {
	display: inline-block;
	margin-right: 10px;
}

.show-passages {
	display: none;
}

.answer-word {
	/*border-bottom: 2px solid black;*/
	/*visibility: hidden;*/
}

.answer-field {
	display: inline-block;
	width: 95px;
}
.blanks-chapter-answer {
	/*width: 50px;*/
}
.blanks-fill-answer {
	/*width: 90%;*/
}

.blanks-icon {
	width: 25px;
	margin-left: 5px;
}

.blanks-icon.green {
	color: green;
}

.blanks-icon.red {
	color: red;
}

.blanks-padding {
	padding: 5px;
	transition: background-color 0.2s ease-in-out 0s;
}

.blanks-padding.white {
	background-color: white;
}

.blanks-padding.grey {
	background-color: #D5D5D5;
}

.blanks-hidden {
	display: none;
}

.blanks-score {
	display: inline-block;
	width: 25px;
	text-align: right;
}

.blanks-question-number {
	display: inline-block;
}