<div id='body'>
	<% if user_signed_in? %>
	  <h1>Welcome <%= current_user.email %>!</h1>
	  <h2>Coming Soon...</h2>
	  <li><strong>Friends</strong></li>
	  <li><strong>Check your progress at : <%= link_to 'My Progress', timeline_index_path %></strong></li>
	  <li><strong>Leaderboards</strong></li>
	<% end %>
</div>