@import "bootstrap-sprockets";
@import "bootstrap";


body{
	margin: 0px !important;
}

#main{
	padding-top: 75px;
}

.navbar-nav > li > a {
    line-height: 50px;
}

.navbar-nav {
	background-color: white;
	padding-bottom: 10px;
}

.center {
  text-align: center;
}
#main > h1 {
  color: white;
}

.datatable-wrapper{
	margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    background-color: white;
}

#home-img-container{
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a3/Cumulus_clouds_panorama.jpg);
	background-position: 0px 800px;
	margin-bottom: 0px;
}



.verse{
	background-color: white;
	margin-bottom: 0px;
}

.page{
	padding-bottom: 30px;
}

.checkbox input[type="checkbox"] {
	margin-left: 0px;
}

.btn-file {
	position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

// .form-control {
// 	width: inherit;
// 	display: inline;
// 	margin: 5px;
// }