<%= javascript_include_tag 'jquery.knob', 'data-turbolinks-track' => true %>

<p><%= @book.name %></p>
<h2><%= @passages.collection.first.text.html_safe %></h2>
<input type="text" class="dial" value="0">

<script>
$(".dial").knob({
    'min':0,
    'max':100,
    'data-displayInput':false
});
</script>
