<%= javascript_include_tag 'jquery.knob', 'data-turbolinks-track' => true %>

<p><%= params[:book] %></p>
<p><%= @verse.value.text.html_safe %></p>
<input type="text" class="dial" value="0">

<script>
$(".dial").knob({
    'min':0,
    'max':100,
    'data-displayInput':false
});
</script>
