<h3>Friend Requests</h3>
<% for request in in_friend_requests %>
	<div>
		<%= render partial: "api/users/avatar", locals: { size: :thumb, user: request.user }%>
		<span style="padding: 10px">
			<%= request.user.username %>
		</span>
		<div class="accept-reject-links">
			<%= link_to "Accept", api_friend_request_path(request), :method => :put, class: "btn btn-success" %>
			<%= link_to "Reject", api_friend_request_path(request), :method => :delete, class: "btn btn-danger" %>
		</div>
	</div>
<% end %>
