<h2>Friend Requests Sent To</h2>
	<ul id="my-friend-requests">
		<% for request in friend_requests %>
			<%= render partial: 'api/friend_requests/waiting_for_friend', locals: {request: request} %>
		<% end %>
	</ul>