<iframe class="video" src="https://www.youtube.com/embed/KOUV7mWDI34" frameborder="0" allowfullscreen></iframe>
<iframe class="video" src="https://www.youtube.com/embed/VpbWbyx1008" frameborder="0" allowfullscreen></iframe>
<h3><%= link_to "Download Study Guide", "http://jointhebibleproject.com/resources/guides/books/TBP_Studyguide_Geneis1.pdf.zip" %></h3>