/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./common
 *= require_self
 *= require jquery-ui/autocomplete
 *= require font-awesome
 */

/* need to change to body .class */
 body {
 	margin: 5px;
 }

#user-widget{
	/*background-color: #5be3c3;*/
	padding: 5px;
	display: inline-block;
}

.datatable-wrapper {
	/*float: left;*/
	width: 500px;
}

.badge-box {
	margin-bottom: 10px;
}

input.medium {
	width: 300px;
}

nav.margin-bottom {
  margin-bottom: 90px;
}

textarea.medium {
	width: 300px;
	height: 100px;
}

#verse {
	background-color: white;
	padding: 5px;
	line-height: 125%;
}
sup {
	font-size: xx-small;
	vertical-align: super;
}

/* Notice and Alert */
.notification-container {
	z-index: 10000;
	position: fixed;
	left: 50%;
	-webkit-animation: seconds 1.0s forwards;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-delay: 5s;
	animation: seconds 1.0s forwards;
	animation-iteration-count: 1;
	animation-delay: 5s;
}

@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
}

@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
}

#no-user {
	position: relative;	
	display: block;
}

#friend-request-sent {
	position: relative;
	display: block;
}

.notification {
	display: inline-block;
	padding: 10px;
	font-size: 15px;
	color: rgb(85, 85, 85);
	border-radius: 0px;
	margin: 10px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	animation: fadeOut 5s linear forwards;
	position: relative;
	left: -50%;
}

.alert {
	
	border: 1px solid rgb(252, 98, 98);
	background-color: rgb(255, 204, 204);
	
	/*transform: translateX(-50%);*/
}

.notice {
	border: 1px solid #006aff;
	background-color: #abe2ff;
}

@keyframes fadeOut {
	0% 	{ opacity: 0;}
	10% { opacity: 0.8; }
	90% { opacity: 0.8; transform: translateY(0px);}
	99% { opacity: 0; transform: translateY(-50px);}
	100% { opacity: 0;}
}

#friendSearch {
	width: 300px;
}

.clickable {
	cursor: pointer !important;
}


#home-image {
	transform: scaleX(-1);
	width: 100%;
}

.dial {
	cursor: default;
}