<div id="tools">
    <% if book.name == "Mark" %>
        <iframe class="video" src="https://player.vimeo.com/video/131827329" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/131827329">Mark Flow</a> from <a href="https://vimeo.com/user2345524">Daniel Kim</a> on <a href="https://vimeo.com">Vimeo</a>.</p> <p>Flow of the Gospel of Mark</p>
    <% elsif book.name == "Genesis" %>
        <iframe class="video" src="https://www.youtube.com/embed/KOUV7mWDI34" frameborder="0" allowfullscreen></iframe>
        <iframe class="video" src="https://www.youtube.com/embed/VpbWbyx1008" frameborder="0" allowfullscreen></iframe>
        <h3><%= link_to "Download Study Guide", "http://jointhebibleproject.com/resources/guides/books/TBP_Studyguide_Geneis1.pdf.zip" %></h3>
    <% elsif book.name == "Romans" %>
    	<iframe class="video" src="https://www.youtube.com/embed/6KrQ1ZwUlPU" frameborder="0" allowfullscreen></iframe>
    	<iframe class="video" src="https://www.youtube.com/embed/ZuEsGgIFdso" frameborder="0" allowfullscreen></iframe>
    	<%= image_tag "http://jointhebibleproject.com/resources/posters/SB-50-Rom_Poster.jpg", class: "image" %>
    <% elsif book.name == "1 Corinthians" %>
    	<iframe class="video" src="https://www.youtube.com/embed/veU6dB3996o" frameborder="0" allowfullscreen></iframe>
    	<%= image_tag "http://jointhebibleproject.com/resources/posters/SB-52-1Cor_poster.jpg", class: "image" %>

    <% end %>
</div>