<% content_for :head do %>
	<%= javascript_include_tag 'friends/friendshipsIndex', 'data-turbolinks-track' => true %>
<% end %>

<h2>Friends</h2>
<ul>
	<% for friendship in @friendships %>
		<li>
			<%=  link_to friendship.friend.username, api_user_path(friendship.friend) %>
			<!-- Because of api namespace we can't just use friendship model for path, but need to specify -->
		</li>
	<% end %>
</ul>

<!-- If this is the current_user, show pending friend requests -->
<div id="friend-search-container">
	<%= text_field_tag(:friendSearch, nil, placeholder: 'Search for friends by username or email!') %>
</div>

<% if !@in_friend_requests.empty? %>
	<%= render partial: 'api/friend_requests/friend_request_from_list', locals: { in_friend_requests: @in_friend_requests} %>
<% end %>
